<!DOCTYPE html>
<html lang='en'>
<head>
    {% block head %}
    <meta charset='utf-8'>
    <meta name="viewport" content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel="stylesheet" href='{{ url_for('static', filename='css/bootstrap.min.css') }}'>
    <title>{% block title %}{% endblock %} - WeatherPi</title>
    {% endblock %}
</head>
<body>
    <div class='container mx-auto' style='width: 500px'>
        <div class='row p-3'>
            <h1>WeatherPi</h1>
        </div>
        <div class='row p-3 border-bottom'>
            <nav class='nav'>
                {% for href, caption in [
                    ('config', 'Config'),
                    ('logs', 'Logs')] %}
                <a class='nav-link' href='{{href}}'>{{caption}}</a>
                {% endfor %}
            </nav>
        </div>
        {% if error %}
        <div class='alert alert-danger' role=alert>
            {{ error }}
        </div>
        {% endif %}
        <div class='row p-3' style='width: 500px'>
                {% block content %}
                {% endblock %}
        </div>
    </div>
</body>
</html>